.alert-container {
    position: relative;
    width: 100%;
    margin-bottom: 9px;
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    min-width: unset;
    padding: 15px 40px;
    color: white;
    transition: opacity 3s ease;
    border-radius: 0;
    text-align: left;
    white-space: nowrap;
    display: block;
    border: none;
}

.alert-success {
    background: linear-gradient(to right,
    rgba(0, 128, 70, 1) 0%,
    rgba(0, 128, 70, 0.95) 40%,
    rgba(0, 128, 70, 0.85) 55%,
    rgba(0, 128, 70, 0.7) 70%,
    rgba(0, 128, 70, 0.5) 80%,
    rgba(0, 128, 70, 0.35) 90%,
    rgba(0, 128, 70, 0.25) 98%,
    rgba(0, 128, 70, 0.19) 100%
    );
    border: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.custom-body {
    background-color: #f4fafd;
}

.content {
    flex-grow: 1;
    padding-bottom: 2rem;
}

.footer {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #ccc;
    width: 100%;
    padding: 1rem 0;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    color: #6c757d;
}

.footer-text p {
    margin: 0;
    padding: 2px 0;
}

.footer-text strong {
    font-weight: bold;
    color: #007bff;
}

.custom-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s, color 0.3s;
}

.custom-title:hover {
    color: #ffa500;
    transform: scale(1.1);
}

.highlighted-text {
    padding: 5px;
}

.card {
    background-color: #f0fafd;
}

@media (max-width: 768px) {
    .table-container {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        padding-bottom: 10px;
    }

    .table {
        width: 100%;
        min-width: 800px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        min-width: 800px;
    }
}









