.alert {
    transition: opacity 1s ease, background-color 1s ease;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.custom-body {
    background-color: #f4fafd;
}

.content {
    flex-grow: 1;
    padding-bottom: 2rem;
}

.footer {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #ccc;
    width: 100%;
    padding: 1rem 0;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    color: #6c757d;
}

.footer-text p {
    margin: 0;
    padding: 2px 0;
}

.footer-text strong {
    font-weight: bold;
    color: #007bff;
}

.custom-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s, color 0.3s;
}

.custom-title:hover {
    color: #ffa500;
    transform: scale(1.1);
}

.highlighted-text {
    padding: 5px;
}

.card {
    background-color: #f0fafd;
}

@media (max-width: 768px) {
    .table-container {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        padding-bottom: 10px;
    }

    .table {
        width: 100%;
        min-width: 800px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        min-width: 800px;
    }
}








